


/* // Extra large devices  */
@media (min-width: 1200px) { ... }


/* // Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* // Medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) { ... }



/* // Small devices */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* // Extra small devices */
@media (min-width: 320px) and (max-width: 575.98px) { 

/* header part start  */

/* header part end */






	/* banner_part start  */
	.banner_txt h3 {
	padding-top: 120px;
	font-size: 35px;
}

.banner_txt h1 {
	
	font-size: 45px;
	padding-top: 170px;
	line-height: 60px;
}

.banner_txt p {

	padding-top: 295px;
	line-height: 30px;
}

.menu_img {
	top: 110%;

}
.menu_img img{
	width: 60%;
}
.menu_item:nth-child(1) {
	transform: rotate(65deg) translateX(-106px) rotate(297deg);
}

.menu_item:nth-child(2) {
	transform: rotate(50deg) translateY(25px) translateX(-55px) rotate(310deg);
}


.menu_item:nth-child(5) {
	transform: rotate(35deg) translateY(-80px) translateX(-40px) rotate(-40deg);
}



	/* banner_part end  */

/* abott part start  */

.about_img {
	padding: 0;

}

.about_text_part{
	text-align: center;
	padding-top: 37px;
}
.about_text p {
	font-size: 13px;
	line-height: 31px;
	margin: 0 -10px;
	width: 257px;
	text-align: center;
}


.last_part h5 {
	font-size: 13px;
}



.hire_butten a {
	font-size: 11px;
	margin-top: 20px;
}

.download_butten a {
	font-size: 11px;
	margin-top: 20px;
}




/* abott part end */



/* service part start  */


.service_text {
	padding-bottom: 30px;
}
.experiemce_text h3 {
	font-size: 24px;
}


.experiemce_text h3::before {
	bottom: 84px;
	transform: translateX(0);
}
/* service part end */
 /* expreence part start  */
 .logo_card {
	 display: flex;
	 margin: 0 auto;
	 justify-content: inherit;
	 margin-bottom: 35px;
	}

.logo_card a {
	font-size: 11px;
	margin-right: 10px;
}




.portfolio_card {
	margin: 0 -10px;
}
/* expreence part start  */




/* textimonial part start  */
.tc {
	width: 100%;
	margin-right: 0;
}
.tcp {
	width: 100%;
}

/* textimonial part end */



/* skil part start  */
.play {
	padding-top: 35px;
}



.play i {
	font-size: 50px;
}



.skils_text h3 {
	font-size: 20px;
}



.skils_tittle {
	font-size: 16px;
	line-height: 100px;
}
/* skil part end */




/* pricing part start  */
/* .pricing_prb{
	padding: 200px 0;
} */

/* 





.pricing_text_one h3 {
	font-size: 16px;
	padding: 10px 55px;
}



.pricing_text_two {
	left: 90px;
}


.pricing_pra {
	left: 77px;
}


.pricing_last {
	top: -40px;
	left: 45px;
}


.pricing_last a {
	font-size: 10px;
	padding: 10px 76px;
}
.pricing_last i {
	font-size: 11px;
	margin-left: 6px;
}



.pricing_text_on h3 {
	font-size: 16px;
	padding: 10px 35px;
} */
/* pricing part end */




/* footer part start  */

.foot_text p {
	font-size: 12px;
	line-height: 25px;
}


.soical_icon {
	justify-content: inherit;

}




.footer_last_part h3 {
	font-size: 11px;
	line-height: 20px;
	padding-top: 10px;
	margin-right: 0;
}



.Privacy h4 {
	font-size: 11px;
	margin-right: 0;
	padding-top: 10px;
	line-height: 20px;
}



.faq p {
	font-size: 12px;
	margin-left: 2px;
	padding-top: 12px;
	line-height: 20px;
}




.Privacy h4::after {
	left: 94%;
	top: 16px;
}



.footer_last_part h3::after {
	left: 90%;
	top: 16px;
}


.about_img img {
	width: 90%;
}
/* footer part end */
}











